<div class="modal-header">
    <div class="form-row align-items-center w-100">
        <div class="col-md-auto col-auto">
            <h4 class="modal-title">Database Config</h4>
        </div>
        <div class="col-md-auto ml-auto col">
            <button type="button" class="btn-white btn-border mr-1"
            (click)="onBackClick.emit()">
            <span class="btn-circle-icon btn-cicle-red">
                <i class="las la-arrow-left"></i>
            </span>
            Back
           </button>
           <button class="btn-gray btn-add mr-2" (click)="onCreate()" [disabled]="form.invalid || form.pristine" *ngIf='!editing'>
            <span class="btn-circle-icon btn-cicle-green">
                <img src="./assets/images/check-small.svg" alt="check-small.svg"/>
            </span>
            CreateDatabase
           </button>
          
            <button class="btn-gray btn-add mr-2" (click)="onSave()" [disabled]="validate" *ngIf='!editing'>
                <span class="btn-circle-icon btn-cicle-green">
                    <img src="./assets/images/check-small.svg" alt="check-small.svg" />
                </span>
                Update
            </button>  
            <button class="btn-gray btn-add mr-2" (click)="onEdit()" *ngIf='editing'>
                <span class="btn-circle-icon btn-cicle-green">
                    <img src="./assets/images/check-small.svg" alt="check-small.svg" />
                </span>
                Edit
            </button>  
            
          
        </div>
    </div>
</div>
<div class="modal-body"> 
    <form [formGroup]="form">
       
        <div class="row">
            <div class="form-group col-lg-4 col-md-6">
                <label class="label-primary">Server Name</label>
                <span *ngIf='!editing'>
                <input type="text" class="k-textbox w-100" formControlName="serverName" maxlength="200" noSpace />
                <span class="req-symbol-left" *ngIf="form.get('serverName').hasError('required')"></span>
                <div class="required-text"
                    *ngIf="form.get('serverName').hasError('required') && form.get('serverName').touched">
                    This field is required!
                </div>
               </span>
               <span *ngIf='editing'>{{databseConfig.serverName}}</span>
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label class="label-primary">Database Name</label>
                <span *ngIf='!editing'>
                <input type="text" class="k-textbox w-100" formControlName="databaseName" maxlength="200" noSpace />
                <span class="req-symbol-left" *ngIf="form.get('databaseName').hasError('required')"></span>
                <div class="required-text"
                    *ngIf="form.get('databaseName').hasError('required') && form.get('databaseName').touched">
                    This field is required!
                </div>
                </span>
                <span *ngIf='editing'>{{databseConfig.databaseName}}</span>
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label class="label-primary">User Name</label>
                <span *ngIf='!editing'>
                <input type="text" class="k-textbox w-100" formControlName="serverLoginName" maxlength="200" noSpace />
                <span class="req-symbol-left" *ngIf="form.get('serverLoginName').hasError('required')"></span>
                <div class="required-text"
                    *ngIf="form.get('serverLoginName').hasError('required') && form.get('serverLoginName').touched">
                    This field is required!
                </div>
                </span>
                <span *ngIf='editing'>{{databseConfig.serverLoginName}}</span>
            </div>
            <div class="form-group col-lg-4 col-md-6" *ngIf='!editing'>
                <label class="label-primary">Password</label>                
                <input type="password" class="k-textbox w-100" formControlName="serverPassword" maxlength="200" noSpace />
                <span class="req-symbol-left" *ngIf="form.get('serverPassword').hasError('required')"></span>
                <div class="required-text"
                    *ngIf="form.get('serverPassword').hasError('required') && form.get('serverPassword').touched">
                    This field is required!
                </div>               
            </div>    
            <div class="form-group col-lg-4 col-md-6">
                <label class="label-primary">Document Path</label>
                <span *ngIf='!editing'>
                <input type="text" class="k-textbox w-100" formControlName="documentPath" maxlength="200" noSpace />
                <span class="req-symbol-left" *ngIf="form.get('documentPath').hasError('required')"></span>
                <div class="required-text"
                    *ngIf="form.get('documentPath').hasError('required') && form.get('documentPath').touched">
                    This field is required!
                </div>
                </span>
                <span *ngIf='editing'>{{databseConfig.documentPath}}</span>
            </div>   
            <div class="form-group col-lg-4 col-md-6">
                <label class="label-primary">Image Path</label>
                <span *ngIf='!editing'>
                <input type="text" class="k-textbox w-100" formControlName="imagePath" maxlength="200" noSpace />
                <span class="req-symbol-left" *ngIf="form.get('imagePath').hasError('required')"></span>
                <div class="required-text"
                    *ngIf="form.get('imagePath').hasError('required') && form.get('imagePath').touched">
                    This field is required!
                </div>
                </span>
                <span *ngIf='editing'>{{databseConfig.imagePath}}</span>
            </div>           
        </div>
    </form>
</div>