<!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="#">
    <img class="logo" src="../../assets/images/logo-c.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <div class="form-row align-items-center">
            <div class="col">
              <span class="d-none d-lg-inline text-gray-600 font-weight-600 user-name">John Deo</span>
              <span class="text-gray-400 d-block text-right role">Admin</span>
            </div>
            <div class="col-auto">
              <img class="img-profile rounded-circle" src="../../../../assets/images/user-icon.svg" />
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#"> <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile </a>
          <a class="dropdown-item" href="#"> <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings </a>
          <a class="dropdown-item" href="#"> <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()"> <i
              class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout </a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand navbar-light bg-white topbar fixed-top">
  <a class="navbar-brand" href="#">
    <img class="logo" src="./assets/images/logo-c.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link cursor-pointer">
          <div class="form-row text-right align-items-center">
            <div class="col-md-auto">
              <span class="mr-1 lh-17 d-none d-lg-block font-weight-600">{{ currentUser.userName }}</span>
              <span class="mr-1 lh-17 d-none d-lg-block text-right role">{{ currentUser.roleName }}</span>
            </div>
            <div class="col-md-auto px-0 heaer-menu">
              <ejs-menu #menu [items]='menuItems' showItemOnClick='true' (select)='select($event)'
                (created)='created()'></ejs-menu>
            </div>    
             <div class="col-md-auto">
              <img class="img-profile rounded-circle" [src]="currentUser.userPicUrl" />
            </div>
          </div>
        </a>
        <!-- <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Settings
            </a>
          </li>
          <li *ngIf="currentUser.roles.length > 1" class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#" (click)="showRoles = true"><i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> My Roles</a>
            <ul class="dropdown-menu" [class.show]="showRoles">
              <li *ngFor="let role of currentUser.roles">
                <button
                  class="dropdown-item"
                  [ngStyle]="{ color: currentUser.roleId == role.id ? 'blue' : 'black' }"
                  [disabled]="currentUser.roleId == role.id"
                  (click)="changeRole(role.id)"
                >
                  {{ role.value }}
                </button>
              </li>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li>
            <a class="dropdown-item" (click)="logout()"> <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i> Logout </a>
          </li>
        </ul> -->

      </li>
    </ul>
  </div>
</nav>