<nav class="navbar navbar-expand navbar-light bg-white topbar fixed-top">
  <a class="navbar-brand" href="#">
    <img class="logo" src="./assets/images/logo-c.png" alt="logo-c.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link cursor-pointer">
          <div class="form-row text-right align-items-center">
            <div class="user-menu">
              <div class="user-drp">
                <ejs-menu #menu [items]='menuItems' cssClass="header-user-dropdown" showItemOnClick='true'
                  (select)='select($event)' (created)='created()'>
                </ejs-menu>
              </div>
            </div>
          </div>
         


        </a>


      </li>
    </ul>
  </div>
</nav>