<div class="modal-header">
    <div class="form-row align-items-center w-100">
        <div class="col-md-auto col-auto">
            <h4 class="modal-title">Child Company</h4>
        </div>
        <div class="col-md-auto ml-auto col-auto">
            <button class="btn-gray btn-add mr-2" (click)="onSave()" [disabled]="form.invalid || form.pristine">
                <span class="btn-circle-icon btn-cicle-green">
                    <img src="./assets/images/check-small.svg" />
                </span>
                Save
            </button>
            <button type="button" class="btn-white btn-border mr-1" (click)="onReset()">
                <span class="btn-circle-icon btn-cicle-blue">
                    <i class="las la-sync-alt"></i>
                </span>
                Reset
            </button>
            <button class="btn-gray btn-add" (click)="close()">
                <span class="btn-circle-icon btn-cicle-red"><img src="./assets/images/close-white.svg" /></span>
                Cancel
            </button>
        </div>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="row">
            <div class="form-group col-lg-4 col-md-3">
            <label class="label-primary">Parent Company Code</label>
            <span> {{CompanyCode}}</span> 
            </div>
                         <!-- <div class="form-group col-lg-4 col-md-3">
                <label class="label-primary">Company</label>
                <ejs-combobox [dataSource]="CompanyData" [fields]="fields" class="w-100" placeholder="Select Company"
                    formControlName="ParentCompnayId" [disabled]="true">
                </ejs-combobox>
                <span>
                    <span class="req-symbol-left" *ngIf="form.get('ParentCompnayId').hasError('required')"></span>
                    <div class="required-text"
                        *ngIf="form.get('ParentCompnayId').hasError('required') && form.get('ParentCompnayId').touched">
                        This field is required!
                    </div>
                </span>

            </div> -->
            
            <div class="form-group col-lg-4 col-md-3">
                <label class="label-primary">Company Code</label>
                <input type="text" class="k-textbox w-100" formControlName="childcompanyCode"
                maxlength="200" noSpace />
            <span class="req-symbol-left"
                *ngIf="form.get('childcompanyCode').hasError('required')"></span>
            <div class="required-text"
                *ngIf="form.get('childcompanyCode').hasError('required') && form.get('childcompanyCode').touched">
                This field is required!
            </div>
            </div>

            <div class="form-group col-lg-4 col-md-3">
                <label class="label-primary">Company Name</label>
                <input type="text" class="k-textbox w-100" formControlName="childcompanyName"
                maxlength="200" noSpace />
            <span class="req-symbol-left"
                *ngIf="form.get('childcompanyName').hasError('required')"></span>
            <div class="required-text"
                *ngIf="form.get('childcompanyName').hasError('required') && form.get('childcompanyName').touched">
                This field is required!
            </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6">
              
                    <label class="label-primary">Address</label>
                    <input type="text" class="k-textbox w-100" formControlName="childaddress"
                        maxlength="200" noSpace />
               
            </div>
            <div class="form-group col-lg-4 col-md-3">
                <label class="label-primary">Phone</label>
                <input type="text" class="k-textbox w-100" formControlName="childphone"
                    maxlength="13" numOnly noSpace />
        </div>
            <div class="form-group col-lg-4 col-md-6">
                <label>Email ID</label>
                <input type="text" class="w-100 k-textbox" formControlName="childemail"
                    maxlength="200" noSpace />
               
                <div class="required-text" *ngIf="form.get('childemail').hasError('childemail')">
                    This field is not valid value!
                </div>
            </div>
            <!-- <div class="form-group col-lg-4 col-md-6">
               
                    <label class="label-primary">Select Zone</label>
                    <ejs-combobox [dataSource]="zoneList" formControlName="childzoneMasterId"
                    [fields]="fields" [allowCustom]="false" placeholder="Select Zone"
                    [allowFiltering]='true' filterType='Contains'>
                   
                    </ejs-combobox>

               
            </div> -->

        </div>
     
    </form>
</div>