<div class="modal-header">
    <div class="form-row align-items-center w-100">
        <div class="col-md-auto col-auto">
            <h4 class="modal-title">Assign Study Module</h4>
        </div>
        <div class="col-md-auto ml-auto col">            
            <button class="btn-gray btn-add mr-2" (click)="onSave()" >
                <span class="btn-circle-icon btn-cicle-green">
                    <img src="./assets/images/check-small.svg" />
                </span>
                Save
            </button>
            <button class="btn-gray btn-add" (click)="close()">
                <span class="btn-circle-icon btn-cicle-red"><img src="./assets/images/close-white.svg" /></span>
                Cancel
            </button>
        </div>
    </div>
</div>
<div class="modal-body">
        <div class="row">     
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        Permissions
                    </div>
                    <div class="card-body">
                        <ejs-treeview #treeview="" id='treeelement' [fields]='rolefield' [showCheckBox]='showCheckBox' (nodeChecked)='nodeChecked($event)'></ejs-treeview>
                    </div>
                </div>
            </div>
        </div>
</div>
