<div class="menu-bar d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto cursor-pointer excludeMainMenu" (click)="toggleMenu()"><img src="./assets/images/open-menu.svg" /> Menu</div>
      <div class="col border-left">
        <img src="./assets/images/noun_breadcrumb.svg" alt="noun_breadcrumb.svg" />
        <ol class="nav-breadcrumb">
          <li class="breadcrumb-item"><span>Home</span></li>          
          <li [ngClass]="this.mainMenu == '' ? '' :'breadcrumb-item'"><span>{{mainMenu}}</span></li>          
          <li [ngClass]="this.subMenu == ''  ? '' :'breadcrumb-item active'" aria-current="page">{{subMenu}}</li>
        </ol>
      </div>   
    </div>
  </div>
</div>
<app-sidebar-menu [@slideInOut]="menuState" (itemClicked)="menuState = 'out'; itemClicked.emit($event)" (hideMenu)="menuState = 'out'" (mainMenu)="getMainValue($event)" (subMenu)="getSubValue($event)"></app-sidebar-menu>

